@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

@font-face {
  font-family: MyCustomFont;
  src: url("../fonts/varsity_regular.ttf");
}
@font-face {
  font-family: Trajan_Pro_Bold;
  src: url("../fonts/Trajan_Pro_Bold.ttf");
}

:root,
html {
  font-family: Roboto, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-padding-top: 70px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

/* 
#b19652
#f0c021
*/
:root {
  --colorPrimary: #b19652;
  --colorSecondary: #f0c021;
  --colorWhite: #ffffff;
  --colorOffWhite: #f7f7f7;
  --colorBorderWhite: #dbe4e9;
  --colorBlack: #000000;
  --colorHalfBlack: #333333;
  --colorBackgroundBlack: #343a40bd;
  --colorBackgroundOverlay: #00000070;
  --colorWhiteOverlay: rgba(212, 210, 212, 1);
  --colorBoxShadow: rgba(0, 0, 0, 0.075);
  --colorBrownBackground: #504140;
  --colorBrown: #372e28;
  --colorWhatsApp: #42db87;

  --highlightsBorder: #a45a52;
  --highlightsBackground: #a45a52;
}

/* Navbar */
.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-link {
  color: var(--colorBlack);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: var(--colorPrimary);
  height: 100%;
  color: var(--colorWhite);
}

.nav-link:hover {
  background-color: var(--colorOffWhite);
}

.nav-icon {
  margin-right: 5px;
}
@media only screen and (min-width: 1000px) {
  .navbar-nav .nav-link {
    font-size: 1.01vw !important;
    letter-spacing: 0.02vw;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand img {
    height: 45px;
  }
}

/* All Sections */

.section-heading {
  font-size: 35px;
  text-align: center;
  color: var(--colorPrimary);
  text-transform: uppercase;
  font-family: "Trajan_Pro_Bold";
}
.sub-heading {
  color: var(--colorSecondary);
  font-family: "Trajan_Pro_Bold";
}
@media screen and (max-width: 600px) {
  .section-heading {
    font-size: 1.6em;
  }
  .sub-heading {
    font-size: 1em;
  }
}

/* Slider */
#slider_section {
  margin-top: 70px;
  /* min-height: 80vh; */
}

.carousel {
  overflow: hidden !important;
  /* max-height: 80vh; */
}

.carousel-item img {
  /* min-height: 85vh; */
  max-height: 85vh;
  width: 100% !important;
}

.carousel-indicators .active {
  background-color: var(--colorSecondary) !important;
}

@media screen and (max-width: 600px) {
  .carousel-item .banner1 {
    content: url("../img/banners/crown_mobile_banner.jpg");
  }
  .carousel-item .banner2 {
    content: url("../img/banners/casa_mobile_banner.jpg");
  }
  .carousel-item .banner3 {
    content: url("../img/banners/amara_mobile_banner.jpg");
  }
  .carousel-item .banner4 {
    content: url("../img/banners/signet_mobile_banner.jpg");
  }
}

.carousel-caption{
  z-index: 5;
}

.carousel-caption h1 {
  font-size: 3em !important;
}

.banner-btn{
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
}
.banner-btn:hover{
  background-color: var(--colorSecondary);
  color: var(--colorWhite);
}

.drk:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.4;
}

/* Residential Property Card */
#properties_section {
  background-color: #eee;
}

.property_container {
  width: 100%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.property_container .box {
  width: 350px;
  background-color: white;
  position: relative;
}
@media screen and (max-width: 600px) {
  .property_container .box {
    width: 95%;
    margin: 15px;
  }
}

.property_container .box:first-of-type:before {
  content: "Featured";
  background-color: #ea723d;
  color: white;
  font-size: 13px;
  padding: 4px 10px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.property_container .box:first-of-type:after {
  content: "";
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent transparent #ea723d;
  position: absolute;
  left: 70px;
  top: 0;
  transform: translateY(-50%);
}

/*  */

/* .property_container .box .top {
  position: relative;
  background-color: red;
}

.property_container .box .top:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(43, 187, 175, 0.829);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}

.property_container .box .top:hover:before {
  opacity: 1;
}

.property_container .box .top:after {
  content: "View Property";
  color: white;
  font-size: 12px;
  padding: 10px;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
}

.property_container .box .top:hover:after {
  opacity: 1;
} */

.property_container .box .top img {
  width: 100%;
  margin-bottom: 0px;
}

.property_container .box .top span {
  position: absolute;
  right: 20px;
  bottom: 15px;
  color: white;
  font-size: 20px;
}

.property_container .box .top span i {
  margin-left: 5px;
}

.property_container .box .bottom {
  padding: 20px 15px;
  position: relative;
}

.property_container .box:not(:last-of-type) .bottom:before {
  content: "Hot";
  background-color: #ea723d;
  color: white;
  font-size: 11px;
  padding: 4px 7px;
  position: absolute;
  left: 20px;
  top: -40px;
  z-index: 1;
}

.property_container .box .bottom a {
  text-decoration: none;
  color: var(--colorBlack);
}

.property_container .box .bottom h3 {
  font-size: 20px;
  font-weight: bold;
}

.property_container .box .bottom > p {
  margin: 15px 0;
  font-size: 13px;
  line-height: 1.4;
  color: #777;
}

.property_container .box .bottom .advantages {
  display: flex;
}

.property_container .box .bottom .advantages > div {
  margin-right: 15px;
}

.property_container .box .bottom .advantages > div > span {
  font-weight: bold;
  font-size: 12px;
}

.property_container .box .bottom .advantages > div > div {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.property_container .box .bottom .advantages > div > div i {
  color: #777;
  font-size: 22px;
}

.property_container .box .bottom .advantages > div > div > span {
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

.property_container .box .bottom .advantages > div > div > span > span {
  color: #777;
  font-weight: normal;
  margin-left: 5px;
}

.property_container .box .bottom .price {
  margin-top: 20px;
}

.property_container .box .bottom .price span:first-of-type {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}

.property_container .box .bottom .price span:last-of-type {
  color: #3eaba1;
  font-size: 22px;
}

/* Gallery */
/* Gallery */
.gal-img {
  /* width: 19em !important; */
  height: 200px;
}
.gal-img img {
  width: 100% !important;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .gal-img {
    height: 250px;
  }
}

/* Amenities */
.amenities_wrapper {
  height: 200px;
}
.amenities_wrapper img {
  width: 100%;
  height: 200px;
}

.amenities_wrapper figure {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  overflow: hidden;
}
.amenities_wrapper figure img {
  overflow: hidden;
}

.amenities_wrapper figure img:hover {
  transform: scale(1.1);
}

.amenities_wrapper figcaption {
  padding: 10px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: var(--colorPrimary);
}
.amenities_wrapper figcaption h3 {
  font-weight: 100;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-size: 1.2em;
  color: var(--colorWhite);
}

/* About */
#about_section {
  background-color: #00354a;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 970px; */
  background-attachment: fixed;
  padding: 0 !important;
}
.about_overlay {
  background: var(--colorBackgroundOverlay);
  /* height: 970px; */
  padding: 0;
}
#about_section .sub-heading {
  color: var(--colorPrimary);
  font-size: 1.5em;
}

#about_section .sub-heading {
  letter-spacing: 3.5px;
}

.form-label {
  display: none;
}
.inputStyle {
  font-size: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
}
.submit-btn,
.submit-btn:hover,
.submit-btn:focus-visible,
.submit-btn:active {
  background-color: var(--colorSecondary) !important;
  border: none !important;
}
@media screen and (max-width: 600px) {
  .enquire-section {
    padding: 0 !important;
  }
  .about-para-container {
    padding: 2em !important;
    padding-top: 2em;
  }
}

.read_more {
  background-color: transparent;
  font-size: 14px;
  margin: 0;
  border-radius: 0;
  width: fit-content;
  padding-left: 10px;
  color: var(--colorWhite);
}

/* Footer */
#footer {
  background-color: var(--colorBlack);
  padding: 40px 20px;
}
.qrcode {
  text-align: center;
  margin: 10px 20px;
  color: var(--colorWhite);
}

.qrcode img {
  /* display: block;
  margin: auto; */
  width: 100px;
  /* margin-bottom: 10px; */
}

@media screen and (min-width: 990px) {
  .navbar-nav {
    justify-content: flex-end;
  }
}

/* Common Code */

/* OVERLAYS */
.overlay-container {
  position: relative;
}
.overlay-slider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
}

.overlay-container:hover .overlay-slider-bottom,
.overlay-container:hover .overlay-slider-top {
  height: 100%;
}
.overlay-slider-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
}
.enq-btn {
  text-transform: uppercase;
  border: 0.1vw solid var(--colorBorderWhite);
  background: 0 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s ease-in-out;
  &:hover {
    border: 0.1vw solid var(--colorBorderWhite);
    background: rgba(0, 0, 0, 0.7);
  }
}

/* Action Footer */
.action-footer-container {
  margin: 0;
  padding: 0;
}
.action-footer {
  margin: 0;
  padding: 7px;
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
  cursor: pointer;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  font-size: 0.8em;
}

.side-top-block li:first-child {
  border-left: none !important;
}

.action-footer li:first-child {
  border-left: none !important;
}

/* For Desktop */
@media only screen and (min-width: 990px) {
  .action-footer {
    display: none;
  }
}

.submit-btn,
.submit-btn:hover,
.submit-btn:focus-visible,
.submit-btn:active {
  background-color: var(--colorSecondary) !important;
  border: none !important;
}
